<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limerobotllc.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainDiscoveryActivity"
            android:label="@string/app_name">
            <tools:validation testUrl="https://www.limerobotsoftware.com/movies" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.limerobotsoftware.com"
                    android:path="/movies" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.limerobotsoftware.com"
                    android:path="/movies" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailFragmentActivity"
            android:parentActivityName=".MainDiscoveryActivity"
            android:label="@string/movie_detail_title">
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/87101" />
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/221356" />
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/135416" />

            <!-- Parent activity meta-data to support api 15 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainDiscoveryActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.limerobotsoftware.com"
                    android:pathPrefix="/moviedetails" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.limerobotsoftware.com"
                    android:pathPrefix="/moviedetails" />
            </intent-filter>
        </activity>
    </application>

</manifest>
