<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limerobotllc.popularmovies.details" >
    <application>
        <activity
            android:name="com.limerobotllc.popularmovies.MovieDetailFragmentActivity"
            android:parentActivityName="com.limerobotllc.popularmovies.MainDiscoveryActivity"
            android:label="@string/movie_detail_title">
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/87101" />
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/221356" />
            <tools:validation testUrl="https://www.limerobotsoftware.com/moviedetails/135416" />

            <!-- Parent activity meta-data to support api 15 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.limerobotllc.popularmovies.MainDiscoveryActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.limerobotsoftware.com"
                    android:pathPrefix="/moviedetails" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.limerobotsoftware.com"
                    android:pathPrefix="/moviedetails" />
            </intent-filter>
        </activity>
    </application>
</manifest>